RewriteEngine On

#RewriteRule ^\.well-known\/acme-challenge\/ - [L]
#RewriteCond %{REQUEST_URI} !^/.well-known/(.*)
#RewriteRule “/.|^.(?!well-known/)” - [F]
#RewriteRule ^\.well-known - [L]

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule (.*) /web/$1


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/index.php
